#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

h1{
  background: #7fb527;
  color: white;
  padding: 7px;
  margin-bottom: 30px;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", system-ui;
}

.order {
  display: flex;
  gap: 20px;
}

p{
  color: #aeabab;
}


